.app{
    background-color: #D61355;
    padding: 30px;
}

.GP{
    background-color: #F94A29;
    padding: 30px;
}

.PP{
    background-color:#FCE22A ;
    padding: 30px;
}

.CC{
    background-color: #30E3DF;
    padding: 30px;
}

.CCC{
    background-color: chartreuse;
    padding: 30px;
}